<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  
  
  		<servlet>
  			<servlet-name>myServlet</servlet-name>
  			<servlet-class>com.yryz.model.test.ServletFirst</servlet-class>
  		</servlet>
  		
  		<servlet-mapping>
  			<servlet-name>myServlet</servlet-name>
  			<url-pattern>/chenshi</url-pattern>
  		</servlet-mapping>
  
  		<servlet>
  			<servlet-name>gushi</servlet-name>
  			<servlet-class>com.yryz.model.test.ServletForTest</servlet-class>
  		</servlet>
  		<servlet-mapping>
  			<servlet-name>gushi</servlet-name>
  			<url-pattern>/liying</url-pattern>
  		</servlet-mapping>
  		
  		<servlet>
  			<servlet-name>end</servlet-name>
  			<servlet-class>com.yryz.model.test.ServletForEnd</servlet-class>
  		</servlet>
  		<servlet-mapping>
  			<servlet-name>end</servlet-name>
  			<url-pattern>/luojia</url-pattern>
  		</servlet-mapping>
  
  
</web-app>